<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-header-title">
      <i class="fa fa-info-circle"></i>
      <span class="p-l-1">Add</span>
    </h2>

    <a class="modal-header-close" id="" ng-click="dismiss();">
      <i class="fa fa-remove"></i>
    </a>
  </div>

    <div
      class="modal-content"
      id="modal-modal-content"
      style="max-height:600px; overflow-y:scroll"
    >
      <div class="text-center">
        <div class="radio-tile-group">
          <!-- Product Group -->
          <div class="input-container" ng-click="model.addOptionsModal.onProductGroupClick()">
            <input
              id="prpductGroup"
              class="radio-button"
              type="button"
              name="master-data-product-actions-radio"
            />
            <div class="radio-tile">
              <div class="icon edit-icon">
                <i class="fa fa-cubes fa-2x"></i>
              </div>
              <label for="edit" class="radio-tile-label">Product Group</label>
            </div>
          </div>
          <!-- Delete -->
          <div class="input-container" ng-click="model.addOptionsModal.onProductClick()">
            <input
              id="product"
              class="radio-button"
              type="button"
              name="master-data-product-actions-radio"
            />
            <div class="radio-tile">
              <div class="icon split-icon">
                <i class="fa fa-cube fa-2x"></i>
              </div>
              <label for="split" class="radio-tile-label">Product</label>
            </div>
          </div>
          <button id="master-data-product-actions-cancelBtn" style="display:none" ng-click="dismiss();"></button>
        </div>
      </div>
    </div>
</div>
